<!doctype html>
  <html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <script>
    </script>
  </head>
  <body>
    <% if(data.isEmpty&&data.case=='update') { %>
        Success!
    <% } else{ %>
        Already Occupied! Select Other Washer!
    <% } %>
    <a href="http://localhost:8080"> Return to Main Page</a>
  </body>
  </html>